<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ticketnow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketNow">
        <activity
            android:name=".Navbar.ViewProfileActivity"
            android:theme="@style/Theme.TicketNow.popMe"
            >

        </activity>
        <activity android:name=".Navbar.TimeTableActivity" />
        <activity android:name=".Navbar.WalletActivity" />
        <activity android:name=".Navbar.HomeActivity" />
        <activity android:name=".QRcodeActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TicketNow.NoActionBar">

<!--            android:label="@string/app_name"-->
            <!-- Start the Application -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- End -->

        </activity>
        <activity android:name=".UserLogin.OTPActivity" />
        <activity android:name=".Navbar.ProfileActivity" />
        <activity android:name=".UserLogin.WelcomeActivity" />
        <activity android:name=".UserLogin.RegisterActivity" />
        <activity android:name=".UserLogin.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>